.rmtns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.rmtn-cont{
    margin-left: 10%;
    margin-right: 10%;
}
.title{
    margin-left: 0;
}
@media only screen and (max-width: 1350px) {
    .rmtns{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media only screen and (max-width: 1100px) {
    .rmtns{
        grid-template-columns: 1fr 1fr;
    }
  }