.trailer-img{
    width: 250px;
    height: 150px;
    margin: 6px;
}
.trailer-title{
    color: #a3a7af;
}
.title{
    color: #dfe2e9;
    margin: 10px;
}
.trailers{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    grid-gap: 1em;
    overflow-x: scroll;
    width: 70%;
    justify-content: start;
    margin-right: 10%;
    position: relative;
    white-space: nowrap;
}
.video-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
}
.trailers-cont{
    margin-left: 40%;
}